/* Estilos gerais */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  zoom: reset;
  transform: scale(1);
}

/* Estilos para o cabeçalho */
.header {
  display: flex;
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: space-between; /* Garante que o conteúdo seja distribuído entre o logo e o menu */
  padding: 0px 40px; /* Aumenta o padding para dar mais espaço nas laterais */
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;  /* Garante que padding seja incluído nas dimensões totais */
}

/* Estilos para o menu de navegação */

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.cta-button {
  background-color: #4fb162;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20px;  /* Espaçamento entre o login e o botão de cadastro */
}

.cta-button:hover {
  background-color: #334142;
}
/* Container do logo */
.logo-container {
  display: flex;
  align-items: center;
}
/* Ajuste do tamanho do logo */
.logo {
  width: 50px;  /* Ajuste a largura conforme necessário */
  height: auto;  /* Mantém a proporção original da imagem */
  object-fit: contain; /* Mantém a proporção da imagem */
}

/* Menu lateral */
.sidebar-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #334142;
  color: white;
  transition: left 0.3s;
  z-index: 1000;
}

.sidebar-menu.open {
  left: 0;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 20px;
  text-align: center;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Conteúdo principal */

h1 {
  color: #ffffff;
}

p {
  color: #eeecec;
  font-size: 18px;
}
.App {
  padding-top: 60px; /* Adicione um padding para evitar sobreposição da barra superior */
}

/* Primeira seção com a imagem de fundo */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh; /* Ocupa toda a tela */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden; /* Garante que nada ultrapasse a altura da seção */
}

.hero-content {
  max-width: 800px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
}


/* Bolinha de rolagem (Primeira e segunda seção) */
.scroll-indicator {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  border: 2px solid rgb(252, 252, 252);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 2.0s infinite;
}

.scroll-indicator span {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Segunda seção com funcionalidades */
.features-section {
  padding: 50px 0;
  overflow: hidden; /* Garante que nada ultrapasse a altura da seção */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Ocupa toda a tela */
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  overflow: hidden; /* Garante que nada ultrapasse a altura da seção */
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px 40px;
}

.feature-item {
  padding: 1px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.feature-icon {
  width: 60px;  /* Tamanho dos ícones */
  height: auto;
  margin-top: 10px;
  
}

.feature-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature-item p{
  font-size: 1.2rem;
  line-height: 1.20;
  color: #333;
}


/* Estilizando o título e subtítulo da seção de funcionalidades */
.features-section {
  text-align: center;
  margin-bottom: 10px;
}

.features-section h2 {
  font-size: 2.5rem;
  color: #000000;
}

.features-section p {
  font-size: 1.2rem;
  color: #000000;
  margin-top: 10px;
}


/* Terceira seção contatos */

.contact-section {
  padding: 50px 20px;
  text-align: center;
  background-color: white;
}

.contact-section h2 {
  margin-bottom: 20px;
}

/* Centralizando o formulário e seus campos */
form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  width: 100%; /* Garante que o formulário ocupe toda a largura */
}

/* Estilização dos campos do formulário */
.form-group {
  width: 100%; /* Garante que cada campo ocupe a largura total do formulário */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os campos */
  margin-bottom: 15px;
}

.form-group label {
  width: 50%; /* Centraliza o label */
  text-align: left; /* Alinha o texto à esquerda dentro do label */
}

.form-group input, .form-group textarea {
  width: 50%; /* Centraliza e ajusta a largura dos campos */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px; /* Ajuste para o campo de texto maior (mensagem) */
}

/* Ajustes para o botão de envio */
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50; /* Cor do botão */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Espaço acima do botão */
}

button img {
  margin-left: 10px; /* Espaço entre o texto e o ícone */
  width: 20px;
  height: 20px;
}

/* Rodapé */
.footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  font-size: 14px;

}

.footer p {
  margin: 0;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .header {
    padding: 10px 20px;  /* Diminui o padding para dispositivos móveis */
  }

  .logo {
    width: 80px;  /* Diminui o logo em dispositivos menores */
  }


  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-nav a {
    margin-left: 0;
    margin-top: 10px;
  }

  .main-content {
    padding: 50px 20px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .cta-button {
    background-color: #28a745;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 18px;
  }

  .sidebar-menu {
    width: 200px;
  }

  .sidebar-menu a {
    font-size: 16px;
  }
  .features-grid {
    grid-template-columns: 1fr; /* 1 coluna em dispositivos móveis */
  }

}

/* Responsividade */
@media (max-width: 768px) {
  .scroll-indicator1 {
    bottom: 20px;
    width: 20px;
    height: 20px;
  }

  .scroll-indicator1 span {
    width: 6px;
    height: 6px;
  }
}

/* Ajustes para telas grandes (desktop) */
@media (min-width: 1024px) {
  .main-content {
    padding: 120px 50px;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
  }

  .sidebar-menu a {
    font-size: 18px;
  }
}